<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список держзамовлення курсантів</title>
    <link rel="stylesheet" href="../static.css/bootstrap.min.css">
</head>

<body bgcolor="#ddf78d">
<div class="container">
    <h1>Список держзамовлення курсантів</h1>
    <div class="row">
        <br>
        <form action="/add-organization" method="post">
            <table>
                <tr>
                    <td>Організація:</td>
                    <td><input type="text" name="organization_text"></td>
                </tr>
                <tr>
                    <td>Спеціальність:</td>
                    <td><input type="text" name="specialty"></td>
                </tr>
                <tr>
                    <td>Кількість курсантів:</td>
                    <td><input type="number" name="count"></td>
                </tr>
                <tr>
                    <td>Рік:</td>
                    <td><input type="text" name="year"></td>
                </tr>
                <tr>
                    <td><button type="submit">Додати</button></td>
                </tr>
            </table>
        </form>
        <br>
        <div>
            <a href="/download/pdf">Click here to download pdf</a> <br>
            <a href="/download/excel">Click here to download excel</a><br>
        </div>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Організація</th>
                <th>Спеціальність</th>
                <th>Кількість курсантів</th>
                <th>Рік</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="organization : ${organizations}">
                <td th:text="${organization.organization}"></td>
                <td th:text="${organization.speciality}"></td>
                <td th:text="${organization.count}"></td>
                <td th:text="${organization.year}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
